<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AddNewUser</title>

    <style>

        input[type=text] {
            padding:10px;
            border:0;
            width:50%;
            margin:10px 0;
            padding:10px;
            box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
        }

           </style>


</head>


<body>

    <form action="#" th:method="POST" th:action="@{/admin/createUser}" th:object="${user}">
        <label for="name">Enter name: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
        <br>
        <br>
        <label for="lastName">Enter lastName: </label>
        <input type="text" th:field="*{lastName}" id="lastName"/>
        <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName error</div>
        <br>
        <br>
        <label for="age">Enter age: </label>
        <input type="text" th:field="*{age}" id="age"/>
        <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
        <br>
        <br>
        <label for="email">Enter E-Mail: </label>
        <input type="text" th:field="*{email}" id="email"/>
        <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
        <br>
        <br>
        <label for="username">Enter username: </label>
        <input type="text" th:field="*{username}" id="username"/>
        <div style="color: red" th:if="${#fields.hasErrors('username')}"  th:errors="*{username}">Username must be Unique</div>
        <br>
        <br>
        <label for="password">Enter password: </label>
        <input type="text" th:field="*{password}" id="password"/>
        <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
        <br>
            <input th:type="checkbox" th:id="1" th:name="ADMIN" th:value="ADMIN">
            <label th:for="ADMIN">Admin</label>
            <input th:type="checkbox" th:id="2" th:name="USER" th:value="USER">
            <label th:for="USER">User</label>

        <br>
        <br>

        <input type="submit" value="Add new User">
    </form>


</body>
</html>