<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>

  <form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <br>
    <label for="lastName">Enter lastName: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br>
    <br>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br>
    <br>
    <input type="submit" value="Update">
  </form>

</body>
</html>